
#bom_header{
    background-color:white;
    font-size: 14px;
    margin: 4px;
    transition: 0.35s;
    text-decoration: none;
  }
  #grandchild {
    background-color:#66cc66;
    border: .2rem solid #66cc66;
    color: black;
    font-size: 16px;
    margin: 4px;
    transition: 0.35s;
    text-decoration: none;
  }


  #child {
    background-color:#ffff66;
    border: .2rem solid #ffff66;
    color: black;
    font-size: 16px;
    margin: 4px;
    transition: 0.35s;
    text-decoration: none;
  }


  #parent {
    background-color:#ff6666;
    border: .2rem solid #ff6666;
    color: black;
    font-size: 16px;
    margin: 4px;
    transition: 0.35s;
    text-decoration: none;
  }

  