
#bom_header{
    background-color:white;
    font-size: 14px;
    margin: 4px;
    transition: 0.35s;
    text-decoration: none;
  }
  .grandchild {

    color: black;
    font-size: 16px;
    border-radius: 25px;
    background: #66cc66;
    width: 200px;
    height: 65px;
    text-decoration: none;
    cursor: none;
  }


  .child {
    
    color: black;
    font-size: 16px;
    text-decoration: none;
    border-radius: 25px;
    background: #ffff66;
    width: 200px;
    height: 65px;
  }


  .parent {
    color: black;
    font-size: 16px;
    text-decoration: none;
    border-radius: 25px;
    background: #ff6666;
    width: 200px;
    height: 65px;
  }

  #bw_child {
    background-color:rgb(133, 133, 133);
    color: black;
    font-size: 16px;
    text-decoration: none;
  }


  #bw_parent {
    background-color:rgb(67, 67, 67);
    color: black;
    font-size: 16px;
    text-decoration: none;
  }

  